/* LAST RULE */
/* p {
  color: red;
}

p {
  color: green;
} */

/* SPECIFICITY */
/* * {
  color: red;
}

p {
  color: green !important;
}

p {
  color: blue;
} */

/* INHERITANCE */
/* body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: solid black;
  padding: 10px;
}
.page {
  border: 1px solid #665544;
  background-color: grey;
  padding: inherit;
}
p {
  font-family: cursive;
} */
