/* LAST RULE */
/* p {
  color: red;
}

p {
  color: green;
} */

/* SPECIFICITY */
/* * {
  color: red !important;
}

p {
  color: green;
}

p {
  color: blue;
} */

/* INHERITANCE */
body {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  padding: 10px;
  border: 1px solid #665543;
}
.page {
  border: 1px solid #665544;
  background-color: #efefef;
  padding: inherit;
}
p {
  font-family: cursive;
}
